{:highlights [{:id #uuid "63c2d6dd-dcb2-4c11-a96a-95ce5c4b02ae", :page 4, :position {:bounding {:x1 38, :y1 58, :x2 601, :y2 257, :width 639, :height 868.5618593749999}, :rects (), :page 4}, :content {:text "[:span]", :image 1673713372342}, :properties {:color "yellow"}} {:id #uuid "63c2d729-7fbe-4934-bd3a-b8f5409effff", :page 5, :position {:bounding {:x1 323, :y1 60, :x2 606, :y2 301, :width 639, :height 868.5618593749999}, :rects (), :page 5}, :content {:text "[:span]", :image 1673713448007}, :properties {:color "yellow"}}], :extra {:page 5}}